.idea
.ccls-cache
.cache

.vim

feed/build
build
*.mp4
__pycache__

venv

a.out
.hypothesis

*.dylib
*.DSYM
*.d
*.pyc
*.pyo
.*.swp
.*.swo
.*.un~
*.tmp
*.o
*.o-*
*.os
*.os-*
*.so
*.a
*.clb
*.class
*.pyxbldc
*.vcd
config.json
compile_commands.json
